html {
  height: fit-content;
  margin: auto;
}

#app {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: #FC2645;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  border: 1px solid;
  font-family: 'Patua One', cursive;
  text-align: center;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 1em;
  background: #f6f6f6;
  -webkit-box-shadow: 29px 29px 24px #626262, -29px -29px 24px #ffffff;
  box-shadow: 29px 29px 24px #626262, -29px -29px 24px #ffffff;
  color: black;
  -webkit-text-stroke-color: #FC2645;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(200, 225, 233);
  scale: 75%;
  padding: 0;
}

.card-body {
  padding: 0;
}

div.card-body {
  padding: 0px;
}

#description {
  text-align: justify;
}

#specifications {
  font-weight: bold;
}

#specifications {
  font-weight: bold;
}

.available {
  color: rgb(197, 197, 37);
  text-align: left;
  padding-left: 10px;
  background-color: #696666;
  min width: 100px;
}

h2 {
  border: .001px;
  border-color: rgb(200, 225, 233);
  font-size: 40px;
  height: 150px;
  color: rgb(245, 166, 102);
  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 1px;

}

.border {
  border-color: rgb(200, 225, 233);
  border-width: 19dvb ;
  background-image: url("https://pbs.twimg.com/profile_images/1385310343778299907/CfCbCmyE_400x400.jpg") ;
  object-fit: contain;
}

div.container {
  margin: 0;
  flex-basis: 32%;
  justify-content: space-between;
  padding: 5px;
  width: 300px;
  height:900px;
}

.card-body {
  background: linear-gradient(-45deg, #c252ee, #a33ce7, #c78df7);
}

button#show-form-button {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  display: flex;
  -ms-flex-align: center;
  
}
